{% extends 'main.html'%}
{% block title%}The Front Foor -{%endblock%}
{%block head%}
<link rel="stylesheet" href="../../static/base/css/styles.css">
{%endblock%}
{% block content%}



<div class='container-fluid row  align-items-center'>
    <!-- Left Bar -->
    <section class='col-lg-3 order-last order-lg-first'>
        
        <div class='bg-light rounded p-3 '>
            <p>"Horses don't think the same as humans. Something that's most unique about the horse, that I love, is not
                what he posses
                but what he doesn't posses. And that is greed, spite, hate, jealousy, envy, prejudice. The horse doesn't
                posses any of those things.
                If you think about people, the least desirable people to be around usualy possess some or all of those
                things. And the way God made the horse,
                he left that out."
            </p>
            <div class='fs-6 text-end'>
                <p>~Buck Brannaman</p>
            </div>
        </div>

    </section>
    <div class='container col-lg-8 justify-content-start p-0 m-0'>
        <!-- Header -->
        <section class='header'>
            <h1>Welome to the<br>ROCKIN-J-RANCH</h1>
            <h4>Home of the Mustang</h4>
        </section>
        <!-- About Rockin-J-Ranch -->
        <section class='row text-center mt-5 justify-content-center'>
            <div class='w-75 text-start'>
                <h3 class="text-center">About The Ranch</h3>
                <h6 class='lh-lg lead fw-bolder'>
                    Rocking-J-Ranch was founded over 20 years ago in North Geogia with the mindset of rehibillitating and rehoming wild
                    mustangs.
                    The owern's, David and Karen Jones, have been animal lovers from their first breath. Together they saw a
                    need
                    for wild mustangs to be homed. They realized that before these great animals can be homed they would
                    need to
                    be genteled. Thus, Rocking-J-Ranch was created. Since its founding, the ranch has trained and re-homed
                    numerous
                    mustangs. Please visit the barn if you are interested in finding out more about the mustangs on the
                    property.
                </h6>
            </div>
            
        </section>
        <section class='row text-center mt-5 justify-content-center'>
            <div class='w-75 text-start '>
                <h3 class='text-center'>Training Techniques</h3>
                <h6 class='lh-lg lead fw-bold'>
                    It has been proven time and time again that the old way of "breaking" horses is broken. At the
                    Rockin-J-Ranch,
                    the first priority is always the animals health and safety. We use the same techniques as many other
                    world-famous
                    trainers, such as Clinton Anderson and Ray Hunt. These techniques focus heavily on ground-work and
                    developing a mutual respect
                    between horse, trainer, and rider.
                </h6>
            </div>
           
        </section>

    </div>
</div>


{%endblock%}