{% extends 'main.html'%}
{% block title%}The Barn @{%endblock%}
{%block head%}
<link rel="stylesheet" href="../../static/barn/css/styles.css">
{% endblock%}
{% block content%}

<section class='header section'>
    <h1>Welcome To The Barn</h1>
</section>


<!-- Available for Adoption -->

<section class='section'>
    <h4>Horses Looking for Homes</h4>
    <div class='horse-container'>
        {% for horse in horses %}
        {%if horse.adoptable == True %}
        <a href='{% url "horse" horse.id %}'>
            <div>
                {%if horse.image%}
                <img src={{horse.image}} alt="horse image">
                {%endif%}
                <h6>{{horse.name}}</h6>
                <p>{{horse.about}}..</p>
            </div>
        </a>
   
    {%endif%}
    {%endfor%}
    </div>
</section>

<!-- Permanent Residents -->

<section class='section'>
    <h4>Permanent Residents</h4>
    <div class='horse-container'>
        {% for horse in horses %}
        {%if horse.adoptable == False %}
        <a href='{% url "horse" horse.id %}'>
            <div>
                {%if horse.image%}
                <img src={{horse.image}} alt="horse image">
                {%endif%}
                <h6>{{horse.name}}</h6>
                <p>{{horse.about}}..</p>
            </div>
        </a>
   
    {%endif%}
    {%endfor%}
    </div>
</section>

{%endblock%}