{% extends 'main.html'%}
{% load static %}
{% block title %} {{horse.name}} @ {%endblock%}
{%block head%}
<link rel="stylesheet" href="../../static/horse/css/styles.css">
{%endblock%}
{% block content %}

<!-- Image Modal -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl bg-transparent" >
        <div class="modal-content bg-transparent text-center">
            <div class="modal-header bg-secondary">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body justify-items-center pa-3">
                <img id='modal-img' class='img-fluid rounded' src="" alt="Uh Oh! Image Not Found"
                    style="max-height: 75vh;">
            </div>
        </div>
    </div>
</div>

<!-- More Info Modal -->
<!-- Modal -->
<div class="modal fade" id="formstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  " >
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title">Request More Information on {{horse.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body justify-items-center pa-3">
                <form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Jane Doe">  
                        <label for="name" >Name:</label>                                             
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="jdoe@giddy-up.com"> 
                        <label for="email" >Email:</label>                                              
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="horse" placeholder="Giddy Up" value={{horse.name}}>  
                        <label for="horse" >Horse:</label>                                             
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave your message here" id="floatingTextarea2" style="height: 200px"></textarea>
                        <label for="floatingTextarea2">Message</label>
                    </div>
                    <div>
                        <input class='btn btn-success' type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class='container-fluid row'>
    <!-- Left Bar -->
    <section class="col-xl-2 col-lg-12 container text-start justify-content-center">
        <div class='container col-xl-12 col-md-6'>
            {%if images %}
            <img class='img-thumbnail' src='http://res.cloudinary.com/dmobley0608/image/upload/w_500,h_300,c_limit/{{profile_image.name}}' alt="horse.img">
            {%endif%}

            <h4>{{horse.name}}</h4>
            <h6>Primary Trainer: {{horse.trainer}}</h6>
            <h6>Breed: {{horse.breed}}</h6>
            <h6>Age: {{horse.age}}</h6>
            <h6>Sex: {{horse.sex}}</h6>
            <h6>Hands: {{horse.height}}</h6>
            <h6>Approx Weight: {{horse.weight}}lbs</h6>
            {% if horse.adoptable == True%}
            <h6>Price: ${{horse.price}}0</h6>
            <button class='btn btn-secondary' data-bs-toggle="modal"
            data-bs-target="#formstaticBackdrop">Request More Info</button>         
            <br>   
            {%endif%}           
            <sub>Last Updated: {{horse.updated}}</sub>
        </div>
    </section>

    <div class='container col-xl-9  align-items-center justify-content-center'>
        <!-- About -->
        <section class="row text-center my-5 justify-content-center">
            <div class='col-lg-6'>
                <h2>About {{horse.name}}</h2>
                <h6 class='lead '>{{horse.bio}}</h6>
            </div>
        </section>

        <hr>
        <!-- Training -->
        <section class="container text-center justify-content-center mt-5">
            <div class="row">
                <p class="h3">{{horse.name}}'s Training Accomplishments</p>
            </div>
            {%for accomplishment in horse.training.all|dictsort:"priority"%}            
            <div class="row  justify-content-center "> 
                <div class="col-xl-4 col-lg-8 text-start">
                    <p class='h5 '>&#x2713; {{accomplishment}}</p>
                </div>               
                
            </div>
            {%endfor%}
        </section>
        <hr>
        <!-- Gallery -->
        <section class='container text-center'>
            <h2>Gallery</h2>
            <!-- Add Image Form -->
            {%if user.is_authenticated%}
    
            <form class='add-image-form' action="{% url 'add-image' horse.id %}" method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{image_form}}
                <input name='image' type='file'>
                <input type='submit' value='Add'>
            </form>
    
            {%endif%}
    
            <!-- images -->
            <div class='row justify-content-center align-items-center mb-4'>
                {%for image in images%}
                <div class='col-md-3 col-sm-6 m-2 p-3 '>
                    <img class='img-fluid img-thumbnail pointer gallery-image' src={{image.url}} alt="horse image"
                        style='max-height:12em; object-fit: contain;' data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                    <p>{{image.comment}}</p>
                    <!-- Delete Button -->
                    {%if user.is_authenticated%}
                    <form action="{% url 'delete-image' %}" method="post">
                        {% csrf_token %}
                        <input name='name' type='hidden' value={{image.name}}>
                        <input name='horse' type='hidden' value={{horse.id}}>
                        <input type='submit' value='Delete'>
                    </form>
                    {%endif%}
    
    
                </div>
                {%endfor%}
            </div>
        </section>

    </div>
   

</div>




<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    let images = $(".gallery-image")
    let modal_image = $("#modal-img")
    images.on("click", function (event) {
        modal_image.attr("src", event.target.src)
    })

</script>

{%endblock%}