{% extends 'main.html'%}
{% load static %}
{% block title %} {{horse.name}} @ {%endblock%}
{%block head%}
<link rel="stylesheet" href="../../static/horse/css/styles.css">
{%endblock%}

{% block content %}



<!-- Image Modal -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl bg-transparent">
        <div class="modal-content bg-transparent text-center">
            <div class="modal-header bg-secondary">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body justify-items-center pa-3">
                <img id='modal-img' class='img-fluid rounded' src="" alt="Uh Oh! Image Not Found"
                    style="max-height: 75vh;">
            </div>
        </div>
    </div>
</div>

<!-- More Info Modal -->
<!-- Modal -->
<div class="modal fade" id="formstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title">Request More Information on {{horse.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body justify-items-center pa-3">
                <form action="{% url 'request-info' %}" method="POST"
                    onSubmit="document.getElementById('request_btn').disabled=true;">
                    {%csrf_token%}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="name" placeholder="Jane Doe" required>
                        <label for="name">Name:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="email" placeholder="jdoe@giddy-up.com" required>
                        <label for="email">Email:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="horse_name" placeholder="Giddy Up"
                            value={{horse.name}} required>
                        <label for="horse_name">Horse:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave your message here" name="message"
                            style="height: 200px" required></textarea>
                        <label for="message">Message</label>
                    </div>
                    <div>
                        <input id='request_btn' class='btn btn-success' type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Image Modal -->
<div class="modal fade" id="addImageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add an image to the gallery.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class='add-image-form' action="{% url 'add-image' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name='horse' value={{horse.id}} hidden>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Select a Photo</label>
                        <input class="form-control" type="file" id="formFile" name='image' required>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 100px" name='comment'></textarea>
                        <label for="floatingTextarea2">Comment</label>
                    </div>                    
                    <input type='submit' value='Add'>
                </form>
            </div>
        </div>
    </div>
</div>

<div class='container-fluid row'>
    <!-- Left Bar -->
    <section class="col-xl-2 col-lg-12 container text-start justify-content-center ">
        <div class='container col-xl-12 col-md-6'>
            {%if images %}
            <img class='img-thumbnail'
                src='http://res.cloudinary.com/dmobley0608/image/upload/w_500,h_300,c_limit/rockin-j-ranch/{{horse.name}}/{{profile_image.name}}'
                alt="horse.img">
            {%endif%}

            <h4>{{horse.name}}</h4>
            <h6>Primary Trainer: {{horse.trainer}}</h6>
            <h6>Breed: {{horse.breed}}</h6>
            <h6>Age: {{horse.age}}</h6>
            <h6>Sex: {{horse.sex}}</h6>
            {%if horse.height%}
            <h6>Hands: {{horse.height}}</h6>
            {%endif%}
            {%if horse.weight%}
            <h6>Approx Weight: {{horse.weight}}lbs</h6>
            {%endif%}
            {% if horse.adoptable == True%}
            <h6>Price: ${{horse.price}}0</h6>
            <button class='btn btn-secondary mb-3' data-bs-toggle="modal" data-bs-target="#formstaticBackdrop">Request
                More Info</button>
            <br>
            {%endif%}
            <a class='btn btn-secondary m-0' href="{% url 'notes' horse.id %}">View Training Log</a>
            <br>
            <sub>Last Updated: {{horse.updated}}</sub>

        </div>
    </section>

    <div class='container col-xl-9  align-items-center justify-content-center'>
        <!-- About -->
        <section class="row text-center my-5 justify-content-center">
            <div class='col-lg-6'>
                <h2>About {{horse.name}}</h2>
                <h6 class='lead '>{{horse.bio}}</h6>
            </div>
        </section>

        <hr>
        <!-- Training -->
        <section class="container text-center justify-content-center mt-5">
            <div class="row">
                {% if horse.name|last == 's' %}
                <p class="">{{horse.name}}' Training Accomplishments</p>
                {%else%}
                <p class="">{{horse.name}}'s Training Accomplishments</p>
                {%endif%}
            </div>
            {%for accomplishment in horse.training.all|dictsort:"priority"%}
            <div class="row  justify-content-center ">
                <div class="col-xl-4 col-lg-8 text-start">
                    <p class='h5 '>&#x2713; {{accomplishment}}</p>
                </div>
            </div>
            {%endfor%}
        </section>
       
            <hr>
            <!-- Gallery -->
            <section class='container text-center '>
                <h2>Gallery</h2>
                <!-- Add Image Form -->
                {%if user.is_authenticated%}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addImageModal">
                        Add Image
                    </button>
                {%endif%}

                <!-- images -->
                <div class='row justify-content-center align-items-center mb-2 '>
                    {%for image in images%}
                    {%if not image.private_image%}
                    <div class='col-md-3 col-sm-6 m-2 p-3 '>
                        <img class='img-fluid img-thumbnail pointer gallery-image'
                            src="http://res.cloudinary.com/dmobley0608/image/upload/w_500,h_300,c_limit/rockin-j-ranch/{{horse.name}}/{{image.name}}"
                            alt="horse image" style='max-height:12em; object-fit: contain;' data-bs-toggle="modal"
                            name="{{image.name}}" data-bs-target="#staticBackdrop">
                        <p>{{image.comment}}</p>
                        <!-- Delete Button -->
                        {%if user.is_authenticated%}
                        <form action="{% url 'delete-image' %}" method="post">
                            {% csrf_token %}
                            <input name='name' type='hidden' value={{image.name}}>
                            <input name='horse' type='hidden' value={{horse.id}}>
                            <input type='submit' value='Delete'>
                        </form>
                        {%endif%}
                        
                    </div>
                    {%else%}
                        {%if  image.private_image and user.is_authenticated %}
                        <div class='col-md-3 col-sm-6 m-2 p-3 '>
                            <img class='img-fluid img-thumbnail pointer gallery-image'
                                src="http://res.cloudinary.com/dmobley0608/image/upload/w_500,h_300,c_limit/rockin-j-ranch/{{horse.name}}/{{image.name}}"
                                alt="horse image" style='max-height:12em; object-fit: contain;' data-bs-toggle="modal"
                                name="{{image.name}}" data-bs-target="#staticBackdrop">
                            <p>{{image.comment}}</p>
                            <!-- Delete Button -->
                            
                            <form action="{% url 'delete-image' %}" method="post">
                                {% csrf_token %}
                                <input name='name' type='hidden' value={{image.name}}>
                                <input name='horse' type='hidden' value={{horse.id}}>
                                <input type='submit' value='Delete'>
                            </form>                
                        </div>
                        {%endif%}
                    {%endif%}
                   
                    {%endfor%}
                </div>

                   
           
            </section>                
        
        

        <!-- Growth Chart -->

        <div id="growth-chart" class="row d-none  justify-content-center align-items-center text-center mb-3">
            <h2>Growth Charts</h2>
            <canvas id="myChart" class='mx-2' width="200" height="150"
                style="border: 1px solid black; max-height: 500px; max-width: 500px;"></canvas>
            <canvas id="myHeightChart" class='mx-2' width="200" height="150"
                style="border: 1px solid black; max-height: 500px; max-width: 500px;"></canvas>
        </div>
    </div>



</div>

<!-- Chart.js -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>


<script>
    /* Form Handling */
    const request_btn = $("#request_btn")
    let images = $(".gallery-image")
    let modal_image = $("#modal-img")
    const img_url = "http://res.cloudinary.com/dmobley0608/image/upload/rockin-j-ranch/{{horse.name}}/"
    images.on("click", function (event) {
        modal_image.attr("src", (img_url + event.target.name))
    })

    request_btn.on('click', function (event) {
        request_btn.attr('value', "Sending...")
    })

    /* Growth Chart */
    let medicalInfo = []    
    let height = []
    let weight = [0]
    let dates = ["0"]
    $.ajax({
        type: "GET",
        url: '{% url "get-medical" horse.id %}',
        success: function (response) {
            medicalInfo = response
            medicalInfo.map((record) => {
                if (record.height > 0) {
                    height.push(record.height)                   
                    dates.push((record.date))
                    if(record.girth > 0){
                        glWeight = ((record.girth * record.girth) * record.length) / 300
                        avgWeight = (glWeight + record.red_tape + record.black_tape) / 3
                    }else{
                        avgWeight = (record.red_tape + record.black_tape) /2
                    }
                   
                    weight.push(avgWeight)
                   
                }
            })
            console.log(medicalInfo)
            console.log(height)
            console.log(weight)
            console.log(dates)
            if (dates.length >= 2) {
                $("#growth-chart").removeClass("d-none").addClass("d-flex")
            }
            /*Chart */
            let ctx = document.getElementById('myChart').getContext('2d');
            let labels = dates
            let data = {
                labels: labels,
                datasets: [{
                    label: "{{horse.name}} Weight Chart",
                    backgroundColor: 'rgb(255,255, 255)',
                    borderColor: 'rgb(255, 255, 255)',
                    data: weight,
                    tension: .01
                }]
            };
            let config = {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Weight'
                            }
                        }
                    }
                }
            };

            let myChart = new Chart(
                document.getElementById('myChart'),
                config
            );

            /* Height Chart */

            let ctxHeight = document.getElementById('myHeightChart').getContext('2d');
            dates.splice(0, 1)
            let heightLabels = dates
            let heightData = {
                labels: heightLabels,
                datasets: [{
                    label: "{{horse.name}} Height Chart",
                    backgroundColor: 'rgb(0,0, 255)',
                    borderColor: 'rgb(0, 0, 255)',
                    data: height,
                    tension: .01
                }]
            };
            let heightConfig = {
                type: 'line',
                data: heightData,
                options: {
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Hands'
                            },
                            ticks: {
                                stepSize: 1,
                                fontColor: "#8f9092",
                                min: 0,
                                max: 16,
                            }
                        }
                    }
                }
            };

            let myHeightChart = new Chart(
                document.getElementById('myHeightChart'),
                heightConfig
            );
        },
        error: function (data) {
            console.log("error")
            console.log(data)
        }
    })






</script>

{%endblock%}