{% extends 'main.html'%}
{% load static %}
{% block title%}The Barn @{%endblock%}
{%block head%}
<link rel="stylesheet" href="/../../static/barn/css/styles.css">
{% endblock%}
{% block content%}

<section class='header text-center'>
    <h1>Welcome To The Barn</h1>
</section>


<!-- Available for Adoption -->

<section class='container text-center my-5'>
    <h4>Horses Looking for Homes</h4>
    <div class='container'>
        <div class='row justify-content-center'>
            {% for horse in horses %}
            {%if horse.adoptable == True %}
            <div class="card col-xl-4 col-md-8 p-3 m-2 horse-container-color " style='max-height: 30em;'>
                <img src='http://res.cloudinary.com/dmobley0608/image/upload/w_500,ar_1:1,c_fill,g_auto,e_sharpen/rockin-j-ranch/{{horse.name}}/{{horse.image.name}}' 
                class="img-fluid" alt="Uh Oh! Image Not Fount" style='max-height:50%; object-fit: contain;'>
                <div class="card-body text-start">
                  <h5 class="card-title">{{horse.name}}</h5>
                  <h6 class=" ">Breed: {{horse.breed}}</h6>
                  <h6 class="">Age: {{horse.age}}</h6>
                  <h6 class="">Sex: {{horse.sex}}</h6>
                  <h6 class="">Hands: {{horse.height}}</h6>                 
                </div>
                <a href="{% url "horse" horse.name horse.id %}" class="btn btn-secondary">More Info</a>
              </div>
              {%endif%}
              {%endfor%}
        </div>  
    </div>
</section>

<!-- Permanent Residents -->

<section class='container text-center my-5'>
    <h4>Permanent Residents</h4>
    <div class='container'>
        <div class='row justify-content-center'>
            {% for horse in horses %}
            {%if horse.adoptable == False %}
            <div class="card col-xl-4 col-md-8 p-3 m-2 horse-container-color " style='max-height: 30em;'>
                <img src='http://res.cloudinary.com/dmobley0608/image/upload/w_500,ar_1:1,c_fill,g_auto,e_sharpen/rockin-j-ranch/{{horse.name}}/{{horse.image.name}}' 
                class="img-fluid" alt="Uh Oh! Image Not Fount" style='max-height:50%; object-fit: contain;'>
                <div class="card-body text-start">
                    <h5 class="card-title">{{horse.name}}</h5>
                    <h6 class=" ">Breed: {{horse.breed}}</h6>
                    <h6 class="">Age: {{horse.age}}</h6>
                    <h6 class="">Sex: {{horse.sex}}</h6>
                    <h6 class="">Hands: {{horse.height}}</h6>                 
                  </div>
                  <a href="{% url "horse" horse.name horse.id %}" class="btn btn-secondary">More Info</a>
              </div>
              {%endif%}
              {%endfor%}
        </div>
       
      
   
   
    </div>
</section>


{%endblock%}