{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.clipartmax.com/png/middle/24-243593_wild-black-horse-lifting-front-foot-free-vector-icon-horses-icon.png">
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <!--Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
    </script>
   
    <!-- Google Fonts -->
    <!-- Dancing Script -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<!-- Luxurious Roman -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet">


<!-- JQuery -->
<script
src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
crossorigin="anonymous">
</script>

    {%block head%}
   
    {%endblock%}
    <title>{% block title%} {%endblock%} Rockin-J-Ranch</title>
</head>

<body>
    {% include 'navbar.html' %}
    <!-- Flash Messages -->
{% if messages %}
<ul class="messages row justify-content-center">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }} alert alert-primary alert-dismissible text-center w-50 fade show"{% endif %} role="alert" >
        {{message}}
        <button class='btn-close ms-auto' data-bs-dismiss="alert"></button>
      </div>   
    {% endfor %}
</ul>
{% endif %}
    {%block content%}

    {%endblock%}


    
    
</body>

</html>