
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="../static/images/horse-left.png" width="50em">Rockin-J-Ranch<img src="../static/images/horse-right.png" width="50em"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/barn">The Barn</a>
          </li>
          {%if user.is_authenticated%}                  
            <li class='nav-item float-end'>
              <a class='nav-link' href="/admin/logout/">Sign Out</a>
            </li>
          {%endif%}
        </ul>
      </div>
    </div>
  </nav>