html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{    
    background-image: linear-gradient(45deg, white, rgb(136, 102, 52));
    background-size:contain;
    background-repeat: no-repeat;
    color:rgb(0, 0, 0);   
    font-family: 'Luxurious Roman', cursive !important;
}

nav{
    background-color: rgba(107, 65, 3, 0.5);
    border-bottom:1px solid black;
    min-height:5em;
    box-shadow: 5px 5px 5px black;
    margin-bottom:2em;  
     
}

.navbar-brand{
    font-size: 2em;  
}
.nav-item{
    text-shadow: none;
    font-size: 1.25em;    
}

.nav-item:hover{
    text-decoration: underline;    
    transform: skew(-15deg);
    
}


.header{
    font-family: 'Dancing Script', cursive;
}





.pointer{
    cursor: pointer;
}

